In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('robbery.csv')
df.head()

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,JD394996,10/10/2020 01:24:00 PM,020XX W CERMAK RD,ROBBERY,ATTEMPT STRONG ARM - NO WEAPON,SIDEWALK,False,False,1234,12.0,1163205.0,1889403.0,2020,10/17/2020 03:40:42 PM,41.852164,-87.676477,"(41.852163701, -87.676477082)"
1,JD263654,06/14/2020 05:00:00 AM,079XX S MARSHFIELD AVE,ROBBERY,STRONG ARM - NO WEAPON,SIDEWALK,False,False,611,6.0,1166716.0,1852282.0,2020,06/21/2020 03:41:39 PM,41.750225,-87.664651,"(41.750224946, -87.664650661)"
2,JD357900,09/05/2020 09:40:00 PM,042XX S WENTWORTH AVE,ROBBERY,ARMED - HANDGUN,GAS STATION,False,False,925,9.0,1175637.0,1876744.0,2020,09/12/2020 03:41:32 PM,41.817156,-87.631228,"(41.817156358, -87.631228252)"
3,JD268799,06/19/2020 06:40:00 AM,007XX S KENNETH AVE,ROBBERY,STRONG ARM - NO WEAPON,STREET,False,False,1131,11.0,1146803.0,1896435.0,2020,06/26/2020 03:41:43 PM,41.871789,-87.736498,"(41.871788907, -87.736498067)"
4,JD346077,08/26/2020 04:38:00 PM,036XX W DOUGLAS BLVD,ROBBERY,ATTEMPT STRONG ARM - NO WEAPON,STREET,False,False,1011,10.0,1152160.0,1893209.0,2020,09/02/2020 03:41:56 PM,41.862833,-87.716915,"(41.862832503, -87.716915247)"

In [3]:
df.columns

Index(['Case Number', 'Date', 'Block', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [4]:
df['Primary Type'].value_counts()

Primary Type
ROBBERY    278737
Name: count, dtype: int64

In [5]:
df1=df[df['Primary Type'].isin(['THEFT','BURGLARY','MOTOR VEHICLE THEFT','ROBBERY'])].copy()

In [6]:
df1['Primary Type'].value_counts()

Primary Type
ROBBERY    278737
Name: count, dtype: int64

In [7]:
df1.isna().sum()

Case Number             0
Date                    0
Block                   0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

In [8]:
df1.dropna(inplace=True)

In [9]:
df1.isna().sum()

Case Number             0
Date                    0
Block                   0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

In [10]:
df1.shape

(278737, 17)

In [11]:
df1.to_csv('propertycrimes.csv',index=False)

In [12]:
df2=df[df['Primary Type'].isin(['MOTOR VEHICLE THEFT','ROBBERY'])].copy()

In [13]:
df2.shape

(278737, 17)

In [14]:
df2.dropna(inplace=True)

In [15]:
df2.shape

(278737, 17)

In [16]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_column', None)
df2.head()

,Case Number,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,JD394996,10/10/2020 01:24:00 PM,020XX W CERMAK RD,ROBBERY,ATTEMPT STRONG ARM - NO WEAPON,SIDEWALK,False,False,1234,12.0,1163205.0,1889403.0,2020,10/17/2020 03:40:42 PM,41.852164,-87.676477,"(41.852163701, -87.676477082)"
1,JD263654,06/14/2020 05:00:00 AM,079XX S MARSHFIELD AVE,ROBBERY,STRONG ARM - NO WEAPON,SIDEWALK,False,False,611,6.0,1166716.0,1852282.0,2020,06/21/2020 03:41:39 PM,41.750225,-87.664651,"(41.750224946, -87.664650661)"
2,JD357900,09/05/2020 09:40:00 PM,042XX S WENTWORTH AVE,ROBBERY,ARMED - HANDGUN,GAS STATION,False,False,925,9.0,1175637.0,1876744.0,2020,09/12/2020 03:41:32 PM,41.817156,-87.631228,"(41.817156358, -87.631228252)"
3,JD268799,06/19/2020 06:40:00 AM,007XX S KENNETH AVE,ROBBERY,STRONG ARM - NO WEAPON,STREET,False,False,1131,11.0,1146803.0,1896435.0,2020,06/26/2020 03:41:43 PM,41.871789,-87.736498,"(41.871788907, -87.736498067)"
4,JD346077,08/26/2020 04:38:00 PM,036XX W DOUGLAS BLVD,ROBBERY,ATTEMPT STRONG ARM - NO WEAPON,STREET,False,False,1011,10.0,1152160.0,1893209.0,2020,09/02/2020 03:41:56 PM,41.862833,-87.716915,"(41.862832503, -87.716915247)"

In [17]:
df2.columns

Index(['Case Number', 'Date', 'Block', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [18]:
df2.drop(labels=['ID', 'IUCR','Ward', 'Community Area', 'FBI Code'], axis=1,inplace=True)
df2.shape

KeyError: "['ID', 'IUCR', 'Ward', 'Community Area', 'FBI Code'] not found in axis"

In [ ]:
df3=df2[df2['Primary Type'].isin(['ROBBERY'])].copy()
df3.shape

In [ ]:
df3.to_csv('robbery.csv',index=False)