In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('crimes.csv')
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11037294,JA371270,03/18/2015 12:00:00 PM,0000X W WACKER DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,42.0,32.0,11,NaN,NaN,2015,08/01/2017 03:52:26 PM,NaN,NaN,NaN
1,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19.0,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14.0,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11645601,JC212935,06/01/2014 12:01:00 AM,087XX S SANGAMON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,21.0,71.0,11,NaN,NaN,2014,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [4]:
df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [5]:
df['Primary Type'].value_counts()

Primary Type
THEFT                                1698745
BATTERY                              1466635
CRIMINAL DAMAGE                       916404
NARCOTICS                             753190
ASSAULT                               529622
OTHER OFFENSE                         499529
BURGLARY                              431565
MOTOR VEHICLE THEFT                   401802
DECEPTIVE PRACTICE                    362485
ROBBERY                               303127
CRIMINAL TRESPASS                     218853
WEAPONS VIOLATION                     114646
PROSTITUTION                           70022
OFFENSE INVOLVING CHILDREN             57647
PUBLIC PEACE VIOLATION                 53182
SEX OFFENSE                            32130
CRIM SEXUAL ASSAULT                    27502
INTERFERENCE WITH PUBLIC OFFICER       18967
LIQUOR LAW VIOLATION                   15088
GAMBLING                               14634
ARSON                                  13754
HOMICIDE                               13149
CRIMINAL SEXUAL ASSAULT                 8505
KIDNAPPING                              7345
STALKING                                5290
INTIMIDATION                            4872
CONCEALED CARRY LICENSE VIOLATION       1263
OBSCENITY                                865
PUBLIC INDECENCY                         200
NON-CRIMINAL                             185
OTHER NARCOTIC VIOLATION                 150
HUMAN TRAFFICKING                        105
NON - CRIMINAL                            38
RITUALISM                                 24
NON-CRIMINAL (SUBJECT SPECIFIED)           9
DOMESTIC VIOLENCE                          1
Name: count, dtype: int64

In [6]:
df1=df[df['Primary Type'].isin(['THEFT','BURGLARY','MOTOR VEHICLE THEFT','ROBBERY'])].copy()

In [7]:
df1['Primary Type'].value_counts()

Primary Type
THEFT                  1698745
BURGLARY                431565
MOTOR VEHICLE THEFT     401802
ROBBERY                 303127
Name: count, dtype: int64

In [8]:
df1.isna().sum()

ID                           0
Case Number                  0
Date                         0
Block                        0
IUCR                         0
Primary Type                 0
Description                  0
Location Description       949
Arrest                       0
Domestic                     0
Beat                         0
District                    17
Ward                    211390
Community Area          210619
FBI Code                     0
X Coordinate             27445
Y Coordinate             27445
Year                         0
Updated On                   0
Latitude                 27445
Longitude                27445
Location                 27445
dtype: int64

In [9]:
df1.dropna(inplace=True)

In [10]:
df1.isna().sum()

ID                      0
Case Number             0
Date                    0
Block                   0
IUCR                    0
Primary Type            0
Description             0
Location Description    0
Arrest                  0
Domestic                0
Beat                    0
District                0
Ward                    0
Community Area          0
FBI Code                0
X Coordinate            0
Y Coordinate            0
Year                    0
Updated On              0
Latitude                0
Longitude               0
Location                0
dtype: int64

In [11]:
df1.shape

(2598303, 22)

In [13]:
df1.to_csv('propertycrimes.csv',index=False)

In [14]:
df2=df[df['Primary Type'].isin(['MOTOR VEHICLE THEFT','ROBBERY'])].copy()

In [15]:
df2.shape

(704929, 22)

In [16]:
df2.dropna(inplace=True)

In [17]:
df2.shape

(644743, 22)

In [19]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_column', None)
df2.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
70,12045468,JD225478,05/05/2020 10:00:00 PM,104XX S AVENUE M,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,DRIVEWAY - RESIDENTIAL,False,False,432,4.0,10.0,52.0,07,1201505.0,1836426.0,2020,05/12/2020 03:42:00 PM,41.705902,-87.537707,"(41.705902269, -87.537707456)"
98,12146876,JD345261,08/10/2020 08:30:00 AM,030XX N CLARK ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,1934,19.0,44.0,6.0,07,1170665.0,1920334.0,2020,08/28/2020 03:40:39 PM,41.936880,-87.648190,"(41.936880447, -87.648190373)"
246,12169088,JD371131,09/18/2020 12:01:00 AM,075XX S PHILLIPS AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,421,4.0,7.0,43.0,07,1193843.0,1855380.0,2020,09/25/2020 03:42:30 PM,41.758105,-87.565145,"(41.75810458, -87.565145103)"
256,12102405,JD292702,07/09/2020 02:58:00 PM,002XX E 47TH ST,0930,MOTOR VEHICLE THEFT,THEFT / RECOVERY - AUTOMOBILE,STREET,False,False,224,2.0,3.0,38.0,07,1178515.0,1873911.0,2020,07/16/2020 03:42:49 PM,41.809317,-87.620757,"(41.80931735, -87.620757235)"
280,12071702,JD256787,06/07/2020 04:00:00 PM,076XX S STATE ST,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,GAS STATION,False,False,623,6.0,6.0,69.0,07,1177594.0,1854568.0,2020,06/14/2020 03:43:07 PM,41.756259,-87.624720,"(41.756259091, -87.624719943)"

In [18]:
df2.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [20]:
df2.drop(labels=['ID', 'IUCR','Ward', 'Community Area', 'FBI Code'], axis=1,inplace=True)
df2.shape

(644743, 17)

In [21]:
df3=df2[df2['Primary Type'].isin(['ROBBERY'])].copy()
df3.shape

(278737, 17)

In [22]:
df3.to_csv('robbery.csv',index=False)